h1.data-header {
  font-family: raleway;
  opacity: 0.4;
}

.data-row {
  margin-top: 40px;

  .data-card {
    text-align: center;
   }
}

.rankings {
  margin-top: 40px;

  a {
    color: white;

    &:hover {
      opacity: 0.8;
    }
  }
}
