body {
  background-color: $base-color;
  font-family: 'Raleway', sans-serif;
  color: white;
}

h1 {
  font-family: 'Lobster', cursive;
  font-size: 36px;
}

h2 {
  margin: 0 auto;
  width: 400px;
  font-size: 36px;
  font-family: 'Lobster', cursive;
  color: whiteSmoke;
}

.header {
  height: 100vh;
  background: no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: white;
}

.header-logo {
  width: 100%;
  text-align: center;
  h1 {
    font-size: 90px;
    text-shadow: 1px 1px 2px black;
  }
  p {
    font-size: 25px;
  }
}

.row {
  margin-bottom: 0;

  .col.left-thingy {
    padding: 40px;
    background-color: #f6f6f6;
    height: 500px;
    h2 {
      color: #656a64;
    }
    color: #1b1715;
  }

  .col.right-thingy {
    background: no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 500px;
  }
}

.cta {
  background-color: $base-color;

  &:hover {
    background-color: $base-color;
    opacity: 0.9;
  }
}
