nav {
  background-color: #73b6e0;

  .brand-logo {
    margin-left: 20px;
    font-family: 'Lobster', cursive;

    small {
      font-family: 'Raleway', sans-serif;
      font-size: 20px;
    }
  }
}
